<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ASMDB"
            connectionString="Data Source=LocalHost;Initial Catalog=ASM;Integrated Security=True" 
            providerName="System.Data.SqlClient" />
        <add name="ASMDBConnectionString"
            connectionString="Data Source=LocalHost;Initial Catalog=ASM;Integrated Security=True" 
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>